h1 {
	padding: 0;
	justify-self: center;
}

.global-header {
	z-index: 90;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
	position: sticky;
	top: 0;
	background: linear-gradient(#fff, #f7f7f7);
	border-bottom: 1px solid #d5d5d5;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
}

.navbar {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.navlist {
	display: flex;
	list-style-type: none;
	margin-inline-start: 0;
	margin-inline-end: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	align-items: center;
}

.navlist-element {
	margin-left: 6ch;
}

.navlist-link {
	text-decoration: none;
	color: var(--default-text-color);
}

.nav-logo {
	width: calc(var(--sign-in-link-and-logo-nav-width)/1.8);
	height: auto;
	object-fit: contain;
}

.logo-navigator {
	box-sizing: border-box;
	width: var(--sign-in-link-and-logo-nav-width);
	height: auto;
	border: 1px solid rgba(var(--off-white-rgb), 0);
	font-size: var(--sign-in-link-and-logo-nav-font-size)
}

.header-pfp {
	background-color: darkgray;
	height: 80%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid var(--winter3);
	cursor: pointer;
}
